<% provide(:title, "About") %>
<h1>About Me</h1>
<p>
This is my first Ruby on Rails application. I created it because I was inspired to 
learn a new programming language. I have had the chance to learn a few programming
languages throughout my career. However, my career has always been working on the
backend or operating system. Although I have taken courses in college to work on
frontend applications, I have never done this for work. Although I occassionally
go in and do some javascript or razor updates, it is rare that I touch the frontend.
</p>
<p>
I love to keep my skills up to date and learn new things every day. I decided on Ruby
because it is a language that is different than the ones I am used to (C++, Java, C#)
in that it is an interpreted language. So far I love it! It reminds me of when I
started writing Python.
</p>
<p>
My professor in college told us we could write our code in his class in any language
we wanted to, but it had to be one that we had never used before. I chose Python. One
of my other classmates chose to use Ruby. At that time, I wasn't interested in creating
websites, so I passed on Ruby. Python actually helped land my first internship, so I'm
grateful I chose that. It also helped land my first job at NetApp straight out of college.
However, now I find myself wanting to learn something new, again and this time its Ruby.
</p>

<p>
	<a href="mailto:ulu_5@yahoo.com?subject=Readit%20Help">Contact for more help</a>
</p>